Repository devdeun/nextjs-boilerplate: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint {staged_files} --fix
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

feat: clsx와 tailwind-merge를 사용한 cn 유틸리티 함수 추가
  lib/utils.ts
  package-lock.json
  package.json
Due: eslint, prettier

settings: 기본 폰트 설정
  app/layout.tsx
  public/fonts/PretendardVariable.woff2
  tailwind.config.ts
Due: eslint, prettier

settings: sharp 추가
  package-lock.json
  package.json
Due: prettier

docs: README 업데이트
  README.md
Due: prettier

design: 불필요한 font 스타일 삭제
  app/globals.css
Due: none

feat: 기본 layout 스타일 설정
  app/layout.tsx
  tailwind.config.ts
Due: eslint, prettier

settings: tanstack query 설정
  app/layout.tsx
  package-lock.json
  package.json
  shared/lib/utils.ts
  shared/query/client.ts
  shared/query/config.ts
  shared/query/hydrate.tsx
  shared/query/index.ts
  shared/query/provider.tsx
Due: eslint, prettier

settings: axios 설정
  package-lock.json
  package.json
  shared/api/axios.ts
  shared/api/interceptors.ts
Due: eslint, prettier

settings: issue 및 PR 템플릿 추가
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier

settings: issue labels 추가
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/labels.json
  README.md
Due: prettier

feat: shadcnui 설정 및 컴포넌트 추가
  app/globals.css
  components.json
  package-lock.json
  package.json
  shared/components/ui/button.tsx
  shared/components/ui/dialog.tsx
  shared/components/ui/drawer.tsx
  shared/components/ui/form.tsx
  shared/components/ui/input.tsx
  shared/components/ui/label.tsx
  shared/components/ui/select.tsx
  shared/components/ui/skeleton.tsx
  shared/components/ui/tabs.tsx
  shared/components/ui/textarea.tsx
  shared/components/ui/toast.tsx
  shared/components/ui/toaster.tsx
  shared/hooks/use-toast.ts
  tailwind.config.ts
Due: eslint, prettier

fix: axios 응답 인터셉터 삭제 및 baseURL 수정
  shared/api/axios.ts
  shared/api/interceptors.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx,json,yaml,md,prettierrc}
